<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="doAkun()">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
        Tentang Aplikasi
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content style="text-align: justify">
    Selamat datang di aplikasi Toko Buku Online! Aplikasi ini dirancang untuk
    memberikan pengalaman belanja buku yang mudah dan nyaman bagi para pecinta
    literatur. Dengan aplikasi ini, Anda dapat menjelajahi berbagai koleksi buku
    dari berbagai genre, penulis terkenal, dan penerbit ternama. Dengan fitur
    pencarian yang canggih, Anda dapat dengan mudah menemukan buku yang Anda
    cari berdasarkan judul, penulis, atau kategori. Nikmati kemudahan belanja
    buku online dengan pilihan lengkap yang kami tawarkan.
    <p style="padding-top: 20px"></p>
    <p>
      Aplikasi Toko Buku Online memberikan kemudahan berbelanja buku secara
      online dengan pengalaman yang menyenangkan dan aman. Jelajahi dunia
      literatur, temukan buku-buku baru yang menarik, dan perluas pengetahuan
      Anda melalui aplikasi ini. Segera bergabung dengan komunitas kami dan
      nikmati keuntungan belanja buku online yang tak terbatas. Selamat membaca!
    </p>
  </ion-card-content>
</ion-content>

