<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="doHome()">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
        <ion-title> <b>Whislist</b> </ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail class="gambar" slot="start">
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
            />
          </ion-thumbnail>
          <ion-label class="ket">
            Hujan
            <p>1 Barang</p>
            Rp 98.000
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library">
      <ion-icon name="heart-sharp"></ion-icon>
      Favorite
    </ion-tab-button>

    <ion-tab-button (click)="doHome()" tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>

    <ion-tab-button (click)="doAkun()" tab="search">
      <ion-icon name="person-circle-sharp"></ion-icon>
      Akun
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
