<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-subtitle>
        Hujan
        <p>Rp 98.000</p>
        <p>Stock Tersedia : 5</p>
        Terjual 2
        <ion-button fill="clear" color="dark">
          4.8
          <ion-icon name="star"></ion-icon>
          <ion-button slot="end" fill="clear" color="dark">Ulasan</ion-button>
        </ion-button>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card>
    Detail Produk
    <p>Baik</p>
    <p>1.8Kg</p>
    Buku ini mengajarkan kebaikan
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library">
      <ion-icon name="heart-sharp"></ion-icon>
      Favorite
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="person-circle-sharp"></ion-icon>
      Akun
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
