<ion-header>
  <ion-toolbar>
    <ion-title> <b>Welcome to ceBook</b> </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="assets/img/5777785_2977129.jpg" alt="">
  <ion-input [(ngModel)]="form.username_tmu" [ngModelOptions]="{standalone: true}" label="Outline input" label-placement="floating" fill="outline" placeholder="Enter Email"></ion-input>
  <br>
  <ion-input [(ngModel)]="form.password_tmu" [ngModelOptions]="{standalone: true}" type="password" value="password" label="Outline input" label-placement="floating" fill="outline" placeholder="Enter Password"></ion-input>
  <ion-button (click)="doSubmitWithValidateFormInput()" expand="block">Login</ion-button>
  <ion-title (click)="toSignUp()" class="sign-up">Belum Punya Akun? <b>Sign Up</b>  </ion-title>
</ion-content>


