<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="doHome()">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
        Keranjang
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pesanan 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail class="gambar" slot="start">
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
            />
          </ion-thumbnail>
          <ion-label class="ket">
            Hujan
            <p>1 Barang (0.135Kg)</p>
            Rp 98.000
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content>
  <ion-buttons>
    Jumlah Barang
    <ion-button slot="end">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-input
        label="Solid input"
        label-placement="rounded"
        fill="solid"
        placeholder="Enter text"
      ></ion-input>
      <ion-icon name="remove-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Total Harga</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Rp 98.000 </ion-card-content>
</ion-card>

<ion-footer>
  <!-- Footer -->
  <ion-button expand="block" color="dark">Lanjut Bayar</ion-button>
</ion-footer>
