<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
        Detail Daftar Transaksi
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-left: 10px"><b>Transaksi Berhasil</b></ion-card>
  <ion-label style="margin-left: 10px" class="text"
    ><b>No INV : 1515151515</b></ion-label
  >
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-left">
          <b>
            <p>Tanggal</p>
            <p>Kategori</p>
            Total Harga</b
          >
        </ion-col>
        <ion-col size="6" class="text-right">
          <b
            ><p></p>
            <p>17 Mei 2023 15:46 WIB</p>
            <p>Fiksi</p>
            Rp 198.000</b
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="text2">
      <b
        >Detail Buku
        <p>Kualitas Baik</p>
        <p>Sinopsis : Buku ini mengajarkan tentang kehidupan</p></b
      >
    </ion-card-content>
  </ion-content>
</ion-content>

<!-- Footer -->
<div >
  <ion-tabs style="position: fixed;">
      <ion-router-outlet></ion-router-outlet>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="library">
            <ion-icon name="heart-sharp"></ion-icon>
              Favorite
          </ion-tab-button>

          <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
              Home
          </ion-tab-button>
            
          <ion-tab-button tab="search">
            <ion-icon name="person-circle-sharp"></ion-icon>
              Akun
          </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>

</div>
