* {
  margin: 0;
  padding: 0;
}
ion-header {
  margin-top: 10px;
}

.img-profile {
  width: 75px;
  height: 75px;
  margin-left: 15px;
  margin-bottom: 90px;
}

ion-header ion-title {
  font-size: 20px;
}

.edit {
  padding-top: 40px;
  height: 80px;
  width: 130px;
}

.list-menu {
  height: 75px;
  margin-left: 15px;
}
