<ion-header>
  <ion-toolbar>
    <ion-title>Join Us to See The World</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/4038136_2154124.jpg" alt="">
  <ion-input [(ngModel)]="form.nik_tmu" [ngModelOptions]="{standalone: true}" label="Outline input" label-placement="floating" fill="outline" placeholder="Enter NIK"></ion-input>
  <br>
  <ion-input [(ngModel)]="form.name_tmu" [ngModelOptions]="{standalone: true}" label="Outline input" label-placement="floating" fill="outline" placeholder="Enter Name"></ion-input>
  <br>
  <ion-input [(ngModel)]="form.username_tmu" [ngModelOptions]="{standalone: true}" label="Outline input" label-placement="floating" fill="outline" placeholder="Enter Email"></ion-input>
  <br>
  <ion-input [(ngModel)]="form.password_tmu" [ngModelOptions]="{standalone: true}" type="password" value="password" label="Outline input" label-placement="floating" fill="outline" placeholder="Enter Password"></ion-input>
  <ion-button (click)="doSubmitWithValidateFormInput()" expand="block">Sign Up</ion-button> 
  <ion-title  class="sign-up">Sudah Punya Akun? <b (click)="toLogin()">Login</b> </ion-title>
</ion-content>


