img {
    border-radius: 5px;
    margin-bottom: 25px;
}
ion-input {
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
}
ion-button {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    height: 50px;
}
.sign-up{
    font-size: 12px;
    text-align: center;
}