
* {
  margin: 0;
  padding: 0;
}

ion-header {
  margin-top: 20px;
  margin-bottom: 15px;
}

.arrow-back {
  width: 35px;
  height: 40px;
}

.img-profile {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-left: 15px;
}

ion-header ion-title {
  font-size: 25px;
  margin-left: 10px;
}

// Button edit profile
.edit-profile {
  font-weight: bold;
  border-radius: 5px;
  margin-left: 90px;
  height: 33px;
  width: 120px;
  margin-bottom: 10px;
}

// List Menu 
.list-menu {
  height: 55px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
}

.list-menu ion-icon {
  margin-right: 15px;
}
