<ion-header translucent="true">
    <ion-toolbar>
      <ion-buttons>
        <ion-button (click)="doHome()">
          <ion-icon class="arrow-back" name="arrow-back-outline" color="dark"></ion-icon>
          <ion-title style="font-size: 20px;"> <b>My Profile</b></ion-title>
        </ion-button>
      </ion-buttons>
    <ion-toolbar>
      <ion-icon class="img-profile" slot="start" name="person-circle-sharp"></ion-icon>
      <ion-title> <b>Hai</b> </ion-title>
    </ion-toolbar>
    <ion-button class="edit-profile" color="light">
        <ion-icon name="default"></ion-icon>
        Edit Profile
    </ion-button>
    
  </ion-toolbar>
</ion-header>

 
<!-- Content -->

<ion-content >
  <div>

      <ion-button (click)="doDaftarTransaksi()" fill class="list-menu">
        <ion-icon name="receipt-outline"></ion-icon>
        Daftar Transaksi
      </ion-button>
      <br>
      <ion-button fill class="list-menu">
        <ion-icon name="star-outline"></ion-icon>
        Ulasan
      </ion-button>
      <br>
      <ion-button (click)="toHelpCenter()" fill class="list-menu">
        <ion-icon name="help-circle-outline"></ion-icon>
        Pusat Bantuan
      </ion-button>
      <br>
      <ion-button (click)="toAboutUs()" fill class="list-menu">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Tentang Aplikasi
      </ion-button>
      <br>
      <ion-button (click)="doLogOut()" fill class="list-menu">
      <ion-icon name="exit-outline"></ion-icon>
          Log Out
      </ion-button> 
  </div>
  
</ion-content>


