<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="doAkun()">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
        Pusat Bantuan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Hallo Pelanggan Yang Terhormat</ion-card-title>
    <ion-card-subtitle style="font-size: 25px" color="dark"
      >Ada yang bisa kami bantu ?</ion-card-subtitle
    >
  </ion-card>
  <ion-card-content style="font-size: 20px">
    <b>Yang sering ditanyakan</b>
  </ion-card-content>
  <ion-card-content style="font-size: 15px">
    Cara Mebatalkan Pesanan
  </ion-card-content>
  <ion-card-content style="font-size: 15px">
    Saya Belum Terima Pesanan
  </ion-card-content>
  <ion-card-content style="font-size: 15px">
    Pengembalian Barang Yang Rusak
  </ion-card-content>
  <ion-card-content style="font-size: 15px">
    Status Pengiriman Pesanan Tidak Update
  </ion-card-content>
</ion-content>

<ion-content>
  <ion-card-subtitle style="margin-left: 20px" color="dark">
    Masih Punya Pertanyaan Lainnya ?
  </ion-card-subtitle>
  <ion-card-content style="margin-left: 5px">
    Mulai chat dengan kami
  </ion-card-content>
  <ion-button style="margin-left: 20px" fill="outline" color="dark"
    >Mulai Chat
  </ion-button>
</ion-content>

