<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="doAkun()">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
        Daftar Transaksi
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <ion-label style="margin-left: 10px">No INV : 1515151515</ion-label>
    <ion-label style="margin-left: 170px">Transaksi Berhasil</ion-label>
  </div>
  <ion-card>
    <ion-card-content style="height: 220px">
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start" class="gambar">
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
            />
          </ion-thumbnail>
          <ion-label>
            <b>Hujan</b>
            <b><p>2 Barang</p></b>
            <b>Rp 98.000</b>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-card-content
        ><b>Total Harga : Rp 196.000</b>
        <ion-button style="margin-left: 50px" fill="solid" size="small"
          >Beli Lagi</ion-button
        >
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>



