*{
  margin: 0;
  padding: 0;
  
}
ion-header{
  margin-top: 20px;
  position: sticky;
}

.img-profile {
  width : 75px; 
  height: 75px; 
  margin-left: 15px
}

.shopping-cart {
  width : 35px; 
  height: 35px; 
  margin-left: 90px;
}

ion-header ion-title {
font-size: 16px;
}

ion-title{
  margin-left: 5px;
}

.search-bar {
  margin-top: 5px;
  margin-left: 5%;
  margin-bottom: 5px;
}
ion-searchbar{
  width: 90%;
  border-radius: 5px;
}

// // PROMO
.container-promo {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.promo img{
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
}

// // CATEGORY
.container-category {
  width: 100%;
  margin-left: 15px;
}

.category img {
  border-radius: 5px;
  display: block;
  width: 90%;
  height: 115px;
  object-fit: cover;  
  margin-top: 12px;
}

// // ITEM

ion-button {
  margin-top: 5px;
  height: 30px; 
  width: 100px;
}

ion-thumbnail {
  height: 80px;
  width: 65px;
  margin-right: 12px;
}


ion-item {
    --padding-start: 0;
    padding: 10px;
  }





