<ion-header>
  <ion-toolbar>
    <ion-icon class="img-profile" slot="start" name="person-circle-sharp"></ion-icon>
    <ion-title> <b>Hai Welcome Back</b> </ion-title>
    <ion-tab-button (click)="doShoppingCart()" slot="end">
      <ion-icon class="shopping-cart" name="cart"></ion-icon>
    </ion-tab-button>
  </ion-toolbar>
  <ion-toolbar class="search-bar">
    <ion-searchbar color="light" placeholder="Search Your Book"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- PROMO -->
<ion-content>
  <div class="container-swiper-promo">

    <swiper-container 
    class="container-promo"
    #swiper
    slidechange="swiperSlideChanged($event)"
    loop="true"
    pagnation="true"
    pagination-clickable="true"
    afterinit="swiperReady()"
    space-between="30">


      <swiper-slide class="promo">
        <img src="https://foto.kontan.co.id/XIshbvEbArR-_QK552zkra4rrhQ=/smart/2021/05/11/1058646377p.jpg"/>      
      </swiper-slide>
      <swiper-slide class="promo">
        <img src="https://foto.kontan.co.id/XIshbvEbArR-_QK552zkra4rrhQ=/smart/2021/05/11/1058646377p.jpg"/>      
      </swiper-slide>
      <swiper-slide class="promo">
        <img src="https://foto.kontan.co.id/XIshbvEbArR-_QK552zkra4rrhQ=/smart/2021/05/11/1058646377p.jpg"/>      
      </swiper-slide>
    </swiper-container>
  </div>

 <!-- BAGIAN CATEGORY  -->
  <div class="container-category">
    <ion-title style="margin-top: 15px; margin-left: 0px;"> <b>Select By Category</b> </ion-title>
    <swiper-container class="category"
    #swiper
    slides-per-view="3">
      <swiper-slide>
        <img src="assets/img/bukuanak.jpg"/>
        <br>
       <b>Buku Anak</b>       
      </swiper-slide>
      <swiper-slide>
        <img src="assets/img/sastra-klasik.jpg"/> 
        <br>
        <b>Buku Sastra Klasik</b> 
      </swiper-slide> 
      <swiper-slide>
        <img src="assets/img/fiksi.jpg"/>
        <br>
        <b>Buku Fiksi</b> 
      </swiper-slide> 
      <swiper-slide>
        <img src="assets/img/nonfiksi.jpeg"/> 
        <br>
        <b>Buku Non Fiksi</b>     
      </swiper-slide> 

    </swiper-container>
    
  </div>

  <!-- ITEM -->
<ion-title style="margin-top: 15px; margin-left: 10px; "> <b>All Books</b> </ion-title>
  

<ion-content>
  <div id="container">
    <ion-card>

      <ion-card-content>
        <ion-list *ngFor="let key of DataBooks">

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="{{ key.picture_book_tmb }}" />
            </ion-thumbnail>
            <ion-label> <b>{{ key.name_book_tmb }}</b> <br style="font-size: 8px;">Harga : Rp. {{ key.price_book_tmb }} <br style="font-size: 8px;"> Sisa : {{ key.stock_tmb }} </ion-label>
            <ion-button expand="block">Add to Cart</ion-button>
          </ion-item>

        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
   


  <ion-toolbar >
    <ion-tabs >
      <ion-tab-bar >
        <ion-tab-button (click)="doFavorite()" tab="library">
          <ion-icon name="heart-sharp"></ion-icon>
           Favorite  
        </ion-tab-button>
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button (click)="doAkun()" tab="search">
          <ion-icon name="person-circle-sharp"></ion-icon>
          Akun
        </ion-tab-button>
    
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>

       


     
    